/* Figma Styles of your File */
:root {
  /* Colors */
  --midnight-blue: #003465;
  --silver-sand: #bcbec0;
  --white: #ffffff;
  --white-blue-ribbon-35: linear-gradient(
      to left,
      rgba(0, 101, 255, 0.35),
      rgba(0, 101, 255, 0.35)
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  --wwwkurlycom-white-white: linear-gradient(to left, #ffffff, #ffffff),
    linear-gradient(to left, #ffffff, #ffffff);
  --wwwkurlycom-pigment-indigo: #5f0080;
  --wwwkurlycom-alto: #d9d9d9;
  --wwwkurlycom-mine-shaft: #333333;
  --wwwkurlycom-mercury: #e2e2e2;
  --wwwkurlycom-nobel: #b5b5b5;
  --wwwkurlycom-dusty-gray: #999999;
  --wwwkurlycom-gallery: #eeeeee;
  --wwwkurlycom-dove-gray: #666666;
  --wwwkurlycom-froly: #ee6a7b;
  --wwwkurlycom-alto: #dddddd;
  --wwwkurlycom-boulder: #757575;
  --wwwkurlycom-silver: #cccccc;
  --wwwkurlycom-wild-sand: #f7f7f7;
  --wwwmuntokr-mine-shaft: #383535;
  --wwwmuntokr-mine-shaft-60: rgba(56, 53, 53, 0.6);
  --wwwmuntokr-nobel: #b9b6b6;
  --wwwmuntokr-old-copper: #75452d;
  --wwwmuntokr-pomegranate: #f43630;
  --wwwmuntokr-pueblo: #742f12;
  --wwwmuntokr-romantic: #ffcebf;
  --wwwmuntokr-santa-fe: #af785c;
  --wwwmuntokr-scorpion: #666060;
  --wwwmuntokr-selective-yellow: #fbbc04;
  --wwwmuntokr-selective-yellow: #fbbc04;
  --wwwmuntokr-tundora: #494949;
  --wwwmuntokr-white: #fefefe;
  --wwwmuntokr-wild-sand: #f4f4f4;
  --wwwmuntokr-cod-gray-60: rgba(8, 6, 6, 0.6);
  --wwwmuntokr-cornflower: #9acbe8;
  --wwwmuntokr-cornflower-blue: #65b1ef;
  --wwwmuntokr-dusty-gray: #999696;
  --wwwmuntokr-elm: #1c8a6a;
  --wwwmuntokr-emerald: #65d084;
  --wwwmuntokr-eunry: #d2a394;
  --wwwmuntokr-fern: #51b66e;
  --wwwmuntokr-jungle-green: #30ad87;
  --wwwmuntokr-linen: #f4f4f4;
  --wwwmuntokr-mai-tai: #a66707;
  --wwwmuntokr-mandy: #ed4c5c;
  --wwwmuntokr-mandy: #e2596c;
  --wwwmuntokr-citrine-white: #faecd8;
  --wwwmuntokr-bright-sun: #ffcf3b;
  --wwwmuntokr-bright-sun: #ffce3d;
  --wwwmuntokr-brink-pink: #ff717f;
  --wwwmuntokr-chamois: #ead2ae;
  --wwwmuntokr-alto: #dbdbdb;
  --wwwmuntokr-aqua-haze: #e8f3f0;
  --wwwmuntokr-black: #000000;
  --wwwmuntokr-bridesmaid: #f4f4f4;
  --wwwmuntokr-zambezi: #5b5555;

  /* Fonts */
  --semantic-button-font-family: Inter-Regular, sans-serif;
  --semantic-button-font-size: 15.375px;
  --semantic-button-line-height: normal;
  --semantic-button-font-weight: 400;
  --semantic-button-font-style: normal;
  --semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --semantic-heading-2-font-size: 24px;
  --semantic-heading-2-line-height: 24px;
  --semantic-heading-2-font-weight: 400;
  --semantic-heading-2-font-style: normal;
  --semantic-input-font-family: Inter-Regular, sans-serif;
  --semantic-input-font-size: 13.34375px;
  --semantic-input-line-height: normal;
  --semantic-input-font-weight: 400;
  --semantic-input-font-style: normal;
  --semantic-input-font-family: Inter-Regular, sans-serif;
  --semantic-input-font-size: 13.453125px;
  --semantic-input-line-height: normal;
  --semantic-input-font-weight: 400;
  --semantic-input-font-style: normal;
  --semantic-label-font-family: Inter-Regular, sans-serif;
  --semantic-label-font-size: 12.390625px;
  --semantic-label-line-height: 13px;
  --semantic-label-font-weight: 400;
  --semantic-label-font-style: normal;
  --semantic-label-font-family: Inter-Regular, sans-serif;
  --semantic-label-font-size: 13px;
  --semantic-label-line-height: 13px;
  --semantic-label-font-weight: 400;
  --semantic-label-font-style: normal;
  --semantic-font-family: Inter-Regular, sans-serif;
  --semantic-font-size: 12px;
  --semantic-line-height: normal;
  --semantic-font-weight: 400;
  --semantic-font-style: normal;
  --semantic-font-family: Inter-Regular, sans-serif;
  --semantic-font-size: 12px;
  --semantic-line-height: normal;
  --semantic-font-weight: 400;
  --semantic-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 22.5px;
  --inter-regular-line-height: 24px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 8.4375px;
  --inter-regular-line-height: 10px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 8.59375px;
  --inter-regular-line-height: 10px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 10px;
  --inter-regular-line-height: 10px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 8.59375px;
  --inter-bold-line-height: 10px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --wwwkurlycom-semantic-button-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-button-font-size: 13.125px;
  --wwwkurlycom-semantic-button-line-height: 14px;
  --wwwkurlycom-semantic-button-font-weight: 500;
  --wwwkurlycom-semantic-button-font-style: normal;
  --wwwkurlycom-semantic-button-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-button-font-size: 13.234375px;
  --wwwkurlycom-semantic-button-line-height: 14px;
  --wwwkurlycom-semantic-button-font-weight: 500;
  --wwwkurlycom-semantic-button-font-style: normal;
  --wwwkurlycom-semantic-button-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-button-font-size: 15px;
  --wwwkurlycom-semantic-button-line-height: 24px;
  --wwwkurlycom-semantic-button-font-weight: 400;
  --wwwkurlycom-semantic-button-font-style: normal;
  --wwwkurlycom-semantic-button-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-button-font-size: 15px;
  --wwwkurlycom-semantic-button-line-height: 16px;
  --wwwkurlycom-semantic-button-font-weight: 500;
  --wwwkurlycom-semantic-button-font-style: normal;
  --wwwkurlycom-semantic-button-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-button-font-size: 16.875px;
  --wwwkurlycom-semantic-button-line-height: 23.94px;
  --wwwkurlycom-semantic-button-font-weight: 500;
  --wwwkurlycom-semantic-button-font-style: normal;
  --wwwkurlycom-semantic-input-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-input-font-size: 13.78125px;
  --wwwkurlycom-semantic-input-line-height: normal;
  --wwwkurlycom-semantic-input-font-weight: 400;
  --wwwkurlycom-semantic-input-font-style: normal;
  --wwwkurlycom-semantic-input-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-input-font-size: 14px;
  --wwwkurlycom-semantic-input-line-height: normal;
  --wwwkurlycom-semantic-input-font-weight: 400;
  --wwwkurlycom-semantic-input-font-style: normal;
  --wwwkurlycom-semantic-input-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-input-font-size: 15px;
  --wwwkurlycom-semantic-input-line-height: normal;
  --wwwkurlycom-semantic-input-font-weight: 400;
  --wwwkurlycom-semantic-input-font-style: normal;
  --wwwkurlycom-semantic-input-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-input-font-size: 16px;
  --wwwkurlycom-semantic-input-line-height: normal;
  --wwwkurlycom-semantic-input-font-weight: 400;
  --wwwkurlycom-semantic-input-font-style: normal;
  --wwwkurlycom-semantic-item-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-item-font-size: 14.875px;
  --wwwkurlycom-semantic-item-line-height: 20px;
  --wwwkurlycom-semantic-item-font-weight: 500;
  --wwwkurlycom-semantic-item-font-style: normal;
  --wwwkurlycom-semantic-item-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-item-font-size: 15px;
  --wwwkurlycom-semantic-item-line-height: 20px;
  --wwwkurlycom-semantic-item-font-weight: 500;
  --wwwkurlycom-semantic-item-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.015625px;
  --wwwkurlycom-semantic-label-line-height: normal;
  --wwwkurlycom-semantic-label-font-weight: 400;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.125px;
  --wwwkurlycom-semantic-label-line-height: 14px;
  --wwwkurlycom-semantic-label-font-weight: 400;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.125px;
  --wwwkurlycom-semantic-label-line-height: normal;
  --wwwkurlycom-semantic-label-font-weight: 400;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.125px;
  --wwwkurlycom-semantic-label-line-height: 20px;
  --wwwkurlycom-semantic-label-font-weight: 500;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.234375px;
  --wwwkurlycom-semantic-label-line-height: 14px;
  --wwwkurlycom-semantic-label-font-weight: 400;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.234375px;
  --wwwkurlycom-semantic-label-line-height: normal;
  --wwwkurlycom-semantic-label-font-weight: 400;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.234375px;
  --wwwkurlycom-semantic-label-line-height: 20px;
  --wwwkurlycom-semantic-label-font-weight: 500;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.34375px;
  --wwwkurlycom-semantic-label-line-height: 20px;
  --wwwkurlycom-semantic-label-font-weight: 500;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.453125px;
  --wwwkurlycom-semantic-label-line-height: 20px;
  --wwwkurlycom-semantic-label-font-weight: 500;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 13.671875px;
  --wwwkurlycom-semantic-label-line-height: 20px;
  --wwwkurlycom-semantic-label-font-weight: 500;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 14px;
  --wwwkurlycom-semantic-label-line-height: normal;
  --wwwkurlycom-semantic-label-font-weight: 400;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-label-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-label-font-size: 16.875px;
  --wwwkurlycom-semantic-label-line-height: normal;
  --wwwkurlycom-semantic-label-font-weight: 500;
  --wwwkurlycom-semantic-label-font-style: normal;
  --wwwkurlycom-semantic-link-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-link-font-size: 11.25px;
  --wwwkurlycom-semantic-link-line-height: 35px;
  --wwwkurlycom-semantic-link-font-weight: 400;
  --wwwkurlycom-semantic-link-font-style: normal;
  --wwwkurlycom-semantic-link-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-semantic-link-font-size: 12.1875px;
  --wwwkurlycom-semantic-link-line-height: 16px;
  --wwwkurlycom-semantic-link-font-weight: 500;
  --wwwkurlycom-semantic-link-font-style: normal;
  --wwwkurlycom-semantic-link-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-semantic-link-font-size: 13.125px;
  --wwwkurlycom-semantic-link-line-height: 14px;
  --wwwkurlycom-semantic-link-font-weight: 400;
  --wwwkurlycom-semantic-link-font-style: normal;
  --wwwkurlycom-roboto-medium-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-roboto-medium-font-size: 15px;
  --wwwkurlycom-roboto-medium-line-height: 20px;
  --wwwkurlycom-roboto-medium-font-weight: 500;
  --wwwkurlycom-roboto-medium-font-style: normal;
  --wwwkurlycom-roboto-medium-font-family: Roboto-Medium, sans-serif;
  --wwwkurlycom-roboto-medium-font-size: 26.03125px;
  --wwwkurlycom-roboto-medium-line-height: 35px;
  --wwwkurlycom-roboto-medium-font-weight: 500;
  --wwwkurlycom-roboto-medium-font-style: normal;
  --wwwkurlycom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-roboto-regular-font-size: 14px;
  --wwwkurlycom-roboto-regular-line-height: 14px;
  --wwwkurlycom-roboto-regular-font-weight: 400;
  --wwwkurlycom-roboto-regular-font-style: normal;
  --wwwkurlycom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-roboto-regular-font-size: 11.25px;
  --wwwkurlycom-roboto-regular-line-height: 12px;
  --wwwkurlycom-roboto-regular-font-weight: 400;
  --wwwkurlycom-roboto-regular-font-style: normal;
  --wwwkurlycom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-roboto-regular-font-size: 11.25px;
  --wwwkurlycom-roboto-regular-line-height: 18px;
  --wwwkurlycom-roboto-regular-font-weight: 400;
  --wwwkurlycom-roboto-regular-font-style: normal;
  --wwwkurlycom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-roboto-regular-font-size: 12.46875px;
  --wwwkurlycom-roboto-regular-line-height: 40px;
  --wwwkurlycom-roboto-regular-font-weight: 400;
  --wwwkurlycom-roboto-regular-font-style: normal;
  --wwwkurlycom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --wwwkurlycom-roboto-regular-font-size: 13.34375px;
  --wwwkurlycom-roboto-regular-line-height: 14px;
  --wwwkurlycom-roboto-regular-font-weight: 400;
  --wwwkurlycom-roboto-regular-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 18.75px;
  --wwwmuntokr-inter-semi-bold-line-height: 28px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 13.34375px;
  --wwwmuntokr-inter-medium-line-height: 22px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 15px;
  --wwwmuntokr-inter-medium-line-height: 24px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 14.875px;
  --wwwmuntokr-inter-medium-line-height: 24px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 18.90625px;
  --wwwmuntokr-inter-medium-line-height: 28px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 14.875px;
  --wwwmuntokr-inter-regular-line-height: 24px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 16.875px;
  --wwwmuntokr-inter-regular-line-height: 26px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 13.125px;
  --wwwmuntokr-inter-medium-line-height: 22px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 15.125px;
  --wwwmuntokr-inter-regular-line-height: 24px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 16.875px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 17.015625px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 16.3125px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 15.046875px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 18px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 18.75px;
  --wwwmuntokr-inter-medium-line-height: 28px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 15px;
  --wwwmuntokr-inter-regular-line-height: 24px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 16.59375px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 17.15625px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 16.03125px;
  --wwwmuntokr-inter-semi-bold-line-height: 26px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 22.5px;
  --wwwmuntokr-inter-medium-line-height: 36px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 15.125px;
  --wwwmuntokr-inter-regular-line-height: normal;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwmuntokr-inter-bold-font-size: 24px;
  --wwwmuntokr-inter-bold-line-height: 24px;
  --wwwmuntokr-inter-bold-font-weight: 700;
  --wwwmuntokr-inter-bold-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 16.875px;
  --wwwmuntokr-inter-medium-line-height: 26px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 16px;
  --wwwmuntokr-inter-regular-line-height: normal;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 15.875px;
  --wwwmuntokr-inter-regular-line-height: normal;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwmuntokr-inter-bold-font-size: 23.0625px;
  --wwwmuntokr-inter-bold-line-height: 24px;
  --wwwmuntokr-inter-bold-font-weight: 700;
  --wwwmuntokr-inter-bold-font-style: normal;
  --wwwmuntokr-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwmuntokr-inter-bold-font-size: 23.25px;
  --wwwmuntokr-inter-bold-line-height: 24px;
  --wwwmuntokr-inter-bold-font-weight: 700;
  --wwwmuntokr-inter-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 13.453125px;
  --wwwmuntokr-inter-semi-bold-line-height: 22px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 13.015625px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 13.015625px;
  --wwwmuntokr-inter-semi-bold-line-height: 22px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwmuntokr-inter-semi-bold-font-size: 12.90625px;
  --wwwmuntokr-inter-semi-bold-line-height: 22px;
  --wwwmuntokr-inter-semi-bold-font-weight: 600;
  --wwwmuntokr-inter-semi-bold-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 18.4375px;
  --wwwmuntokr-inter-medium-line-height: 28px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwmuntokr-inter-medium-font-size: 22.6875px;
  --wwwmuntokr-inter-medium-line-height: 36px;
  --wwwmuntokr-inter-medium-font-weight: 500;
  --wwwmuntokr-inter-medium-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 13.453125px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 13.671875px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 15.25px;
  --wwwmuntokr-inter-regular-line-height: 24px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 13.34375px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 13.5625px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 16px;
  --wwwmuntokr-inter-regular-line-height: 24px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 13.125px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 15.375px;
  --wwwmuntokr-inter-regular-line-height: 24px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 13.234375px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 14px;
  --wwwmuntokr-inter-regular-line-height: 22px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwmuntokr-inter-bold-font-size: 13.234375px;
  --wwwmuntokr-inter-bold-line-height: 20.02px;
  --wwwmuntokr-inter-bold-font-weight: 700;
  --wwwmuntokr-inter-bold-font-style: normal;
  --wwwmuntokr-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-inter-regular-font-size: 11.25px;
  --wwwmuntokr-inter-regular-line-height: 18px;
  --wwwmuntokr-inter-regular-font-weight: 400;
  --wwwmuntokr-inter-regular-font-style: normal;
  --wwwmuntokr-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwmuntokr-semantic-link-font-size: 11.25px;
  --wwwmuntokr-semantic-link-line-height: 18px;
  --wwwmuntokr-semantic-link-font-weight: 400;
  --wwwmuntokr-semantic-link-font-style: normal;
  --wwwmuntokr-semantic-link-font-family: Inter-Bold, sans-serif;
  --wwwmuntokr-semantic-link-font-size: 13.125px;
  --wwwmuntokr-semantic-link-line-height: 20.02px;
  --wwwmuntokr-semantic-link-font-weight: 700;
  --wwwmuntokr-semantic-link-font-style: normal;
  --wwwmuntokr-semantic-link-font-family: Inter-Bold, sans-serif;
  --wwwmuntokr-semantic-link-font-size: 13.234375px;
  --wwwmuntokr-semantic-link-line-height: 20.02px;
  --wwwmuntokr-semantic-link-font-weight: 700;
  --wwwmuntokr-semantic-link-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-htmltodesign-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-azure-50-35: rgba(0, 101, 255, 0.35);
  --color-grey-75: #bcbec0;
  --color-azure-20: #003465;
}

[data-wwwkurlycom-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-violet-25: #5f0080;
  --color-grey-85: #d9d9d9;
  --color-grey-20: #333333;
  --color-grey-89: #e2e2e2;
  --color-grey-71: #b5b5b5;
  --color-grey-60: #999999;
  --color-grey-93: #eeeeee;
  --color-grey-87: #dddddd;
  --color-grey-46: #757575;
  --color-grey-40: #666666;
  --color-grey-80: #cccccc;
  --color-grey-97: #f7f7f7;
}

:root,
[data-wwwmuntokr-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-grey-21: #383535;
  --color-grey-72: #b9b6b6;
  --color-grey-96: #f4f4f4;
  --color-red-3-60: rgba(8, 6, 6, 0.6);
  --color-grey-100: #fefefe;
  --color-red-87: #ffcebf;
  --color-red-70: #d2a394;
  --color-grey-91: #faecd8;
  --color-red-57: #f43630;
  --color-yellow-62: #ffcf3b;
  --color-grey-39: #666060;
  --color-grey-86: #dbdbdb;
  --color-red-61: #ed4c5c;
  --color-azure-67: #65b1ef;
  --color-orange-34: #a66707;
  --color-red-72: #ff717f;
  --color-grey-29: #494949;
  --color-red-62: #e2596c;
  --color-orange-50: #fbbc04;
  --color-orange-62: #ffce3d;
  --color-spring-green-33: #1c8a6a;
  --color-spring-green-52: #51b66e;
  --color-orange-26: #742f12;
  --color-spring-green-61: #65d084;
  --color-spring-green-43: #30ad87;
  --color-grey-35: #5b5555;
  --color-orange-52: #af785c;
  --color-grey-93: #e8f3f0;
  --color-orange-80: #ead2ae;
  --color-azure-76: #9acbe8;
  --color-orange-32: #75452d;
  --color-grey-59: #999696;
  --color-black-solid: #000000;
  --color-grey-21-60: rgba(56, 53, 53, 0.6);
  --color-grey-40: #666666;
}
