<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>결제 실패</title>
  <link rel="stylesheet" th:href="@{/css/mainstyle.css}"/>
</head>
<body>
<div class="container2">
  <h1>결제 실패!</h1>
  <p th:text="${message}"></p>
  <p>오류 코드: <strong th:text="${code}"></strong></p>
  <p>오류 메시지: <strong th:text="${errorMessage}"></strong></p>
  <p>주문 ID: <strong th:text="${orderId}"></strong></p>
  <a th:href="@{/product-list}" class="card-button">상품 목록으로 돌아가기</a>
</div>
</body>
</html>