<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generationgap.co.kr.mapper.history.HistoryMapper">

    <select id="findHistoryByUserIdx" resultType="generationgap.co.kr.domain.mypage.HistoryDto">
        SELECT
        g.title,
        g.group_date AS date,
        g.party_member AS participants
        FROM group_members gm
        JOIN groups g ON gm.group_idx = g.group_idx
        WHERE gm.user_idx = #{userIdx}
        AND gm.is_confirmed = 'Y'
        ORDER BY g.group_date DESC
    </select>
</mapper>